/.cache/vale/Vocab/dotfiles/accept.txt linguist-generated
/.cache/vale/config/vocabularies/dotfiles/accept.txt linguist-generated
/.dir-locals.el linguist-generated
/.editorconfig linguist-generated
/.gitattributes linguist-generated
/.github/renovate.json linguist-generated
/.github/settings.yml linguist-generated
/.vale.ini linguist-generated
/.github/workflows/flakehub-publish.yml linguist-generated
/garnix.yaml linguist-generated
