/.cache/vale/Vocab/base/accept.txt linguist-generated
/.cache/vale/Vocab/dotfiles/accept.txt linguist-generated
/.editorconfig linguist-generated
/.gitattributes linguist-generated
/.github/settings.yml linguist-generated
/.vale.ini linguist-generated
/.github/workflows/flakehub-publish.yml linguist-generated
/garnix.yaml linguist-generated
/renovate.json linguist-generated
/.github/workflows/update-nix-lockfile.yml linguist-generated
